.search{
    flex:auto
}

.working, .lower-half{
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

.working{
    background-color:#0484bb;
    top: 0;
    color: white;
    /* margin: 50%; */
}

.lower-half{
    bottom: 0;
    background-color: #0f445f;
}

.search-input{
 border: none;
 border-radius: 10px;
 top: 25%;
 left: 50%;
}

.search-input{
    text-align: center;
}

.working{
    text-align: center;
}

.app-name{
    top:40px;
    font-family: 'Lucida Sans';
    font-size: 70px;
}