.search-input{
    flex:auto
}

.working, .lower-half{
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

.working{
    background-color: rgb(27, 122, 199);
    top: 0;
    color: white;
}

.lower-half{
    bottom: 0;
    background-color: rgb(134, 191, 238);
}

.search-input{
 border: none;
 border-radius: 10px;
 top: 25%;
 left: 50%;
}