.working{
    position: fixed;
    left: 0;
    right: 0;
    /* height: 50%; */
    background-color:#0484bb;
    top: 0;
    bottom: 0%;
    text-align: center;
    height:auto;
}

.search-input{
 border: none;
 border-radius: 5px;
 padding: 5px;
 display: flex;
 max-width: 500px;
 background-color: white;
 font: inherit; 
 margin: 1rem auto;
}

.search{
    width: 100%;
    border: none;
    background-color: transparent;
}

.search:focus{
    outline: none;
}

.searchBtn{
    border: none;
}

.title{
    top:40px;
    font-family: cursive;
    font-size: 70px;
    color: whitesmoke;
}

.working{
    background-image:url(./assets/Library.jpg);
    background-size: cover;
    background-position: center;   
}

.defined{
    padding: 5px;
    justify-content: center;
    margin: 1rem auto;
    max-width: 400px;
    border-radius: none;
    background-color: wheat;
    font: inherit;   
    color:black;
    text-align: left;
}

.remark{
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    max-width: 200px;
    background-color: white;
    font: inherit; 
    margin: 1rem auto;
}

#rmkButton{
    border: none;   
}

.return{
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    max-width: 200px;
    background-color: white;
    font: inherit; 
    margin: 1rem auto; 
}
